name: AWS OIDC Demo

on :
  workflow_dispatch:

permissions:
  id-token: write     # required for OIDC
  contents: read      # required to checkout the repo

jobs:
  aws-oida-test:
    runs-on: ubuntu-latest

steps:
﻿﻿  - name: Checkout repository 
    uses: actions/checkout@v4

  - ﻿﻿name: Configure ANS credentials via OIDC
    uses: aws-actions/configure-aws-credentials@v4 
    with:
      role-to-assume: arn: aws: iam::$(| vars.915227021227 |): role/githubaws 
      aws-region: us-east-1

  - name: Verify identity
    run: aws sts get-caller-identity
